*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}

:root{
    --bg-color: #ffffff;
    --button-bg-color: #8999ff;
    --button-bg-hover-color: #2e3b91;
}

h1{
    display: flex;
    font-weight: bolder;
    justify-content: center;
    font-size: 70px;
    padding-top: 20px;
}

#text-wrapper, #button-wrapper{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-wrapper{
    gap: 10px;
}

#button-wrapper button{
    padding: 15px;
    background-color: var(--button-bg-color);
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
}

#button-wrapper button:hover{
    background-color: var(--button-bg-hover-color);
}

#text-wrapper{
    flex-direction: column;
}

#text-wrapper p, #button-wrapper p{
    font-size: 20px;
}

#flex-wrapper{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board-grid{
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-rows: repeat(140px, 3);
    grid-template-columns: repeat(140px, 3);
    row-gap: 15px;
    column-gap: 15px; 
    place-items: center;
    grid-auto-rows: 140px;
    grid-auto-columns: 140px;
    grid-auto-flow: row;
    background-color: rgb(0, 0, 0);
}

#board-grid > div{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    padding: 26px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 36px;
    background-color: var(--bg-color);
}

#board-grid .row0.unmarked,
#board-grid .row1.unmarked,
#board-grid .row2.unmarked{
    padding: 71px;
}

#board-grid .row0{
    grid-row: 1 / 2;
}

#board-grid .row1{
    grid-row: 2 / 3;
}

#board-grid .row2{
    grid-row: 3 / 4;
}